<div class="container">
  <div class="row justify-content-center">
    <h2>Bornfight assignment</h2>
  </div>
  <mat-card>
    <form [formGroup]="armiesForm" (submit)="onBattle()">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <mat-card>
              <h3>Army 1</h3>
              <div class="form-group">
                <input formControlName="soldiers1" type="number" placeholder="No. of soldiers" class="form-control">
              </div>
            </mat-card>
          </div>
          <div class="col-lg-6">
            <mat-card>
              <h3>Army 2</h3>
              <div class="form-group">
                <input formControlName="soldiers2" type="number" placeholder="No. of soldiers" class="form-control email-input">
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="justify-content-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Let's fight</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
